p {
	font-family: Garamond, Times New Roman, serif;
	font-size: 1.2em;
	color: black;

}

H1 {
	font-family: Pacifico, Arial, sans-serif;
	font-size: 4.5em;
	color: #F7D665;
	margin:0;

	}
  .lblue {
  	background-color: #9CC0DF;
  	}
    .whiteb {
      background-color: #FFFFFF;
      }
      .white {
        color: #FFFFFF;
        }
        img {
            max-width:100%;
        }
        .center {
          margin: auto;
          width: 50%;
          padding: 10px;
          }
					.body {
						position:relative;
						background-color:white;
					}
.video {
	bottom:2em;

}

.left {
	width: calc(50% - 2em);
	float:left;
	display:inline-block;
	padding:1em;
	position:fixed;
}
.right {
	width: calc(50% - 2em);
	float:right;
	display:inline-block;
	padding:1em;
}
