p {
	font-family: Garamond, Times New Roman, serif;
	font-size: 1.2em;
	color: black;
	width: 700px;
	position:absolute;
	left: 700px;
}

H1 {
	font-family: Pacifico, Arial, sans-serif;
	font-size: 4.5em;
	color: #F7D665;
	position:absolute;
	left:160px;
	}
  .lblue {
  	background-color: #9CC0DF;
  	}
    .whiteb {
      background-color: #FFFFFF;
      }
      .white {
        color: #FFFFFF;
        }
        img {
            width:800px; /* you can use % */
            height: auto;
						position: absolute;
						right: 1100px;
						bottom: 50px;
        }
        .center {
          margin: auto;
          width: 50%;
          padding: 10px;
          }
					.body {
						position:relative;
						background-color:white;
					}
.video {
	position:absolute;
	top:900px;
	left:100px;

}
